.popup__close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/closeicon.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-position: 50%;
  border: 0;
  padding: 0;
  position: absolute;
  top: -11%;
  right: -10%;
  transform: translate(-11%, -10%);
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 690px) {
  .popup__close {
   width: 20px;
   height: 20px;
   background-size: 100%;
   top: -11%;
   right: 0;
   transform: translate(-11%, 0);
  }
}
