.profile__title {
  max-width: 294px;
  margin: 0;
  margin-right: 18px;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 502px) {
  .profile__title {
    max-width: 189px;
    font-size: 27px;
    line-height: 1.22;
    transform: translate(20px, 0);
  }
}
