.profile__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* @media (max-width: 502px) {
  .profile__photo {
    margin-bottom: 26px;
  }
} */
